Repository Akachain/akc-mamba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, template

.github/labeler.yml:

# Check guide for labelling here:
# https://github.com/actions/labeler

# Add 'guide' label to all md file changes
documentation:
  - ./**/*.md

# Add 'feature' label to all md file changes
feature:
  - ./**/*.py

# Add 'template' label to all md file changes
template:
  - ./**/*.yaml

Generate artifact for app using fabirc v1.x
  mamba/scripts/gen-network-config.sh
  mamba/template/admin-v1/admin-deployment.yaml
  mamba/template/admin-v1/admin-service.yaml
Labels: template

Update admin image
  mamba/template/admin/admin-deployment.yaml
Labels: template

Using new admin version
  mamba/scripts/bootstrap-network.sh
  mamba/template/admin/admin-deployment.yaml
Labels: template

update config from master
  mamba/cli/__init__.py
  mamba/cli/mamba.py
  mamba/requirements.txt
  mamba/setup.py
Labels: feature

Optmize log level in peer
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
Labels: template

Add job add new channel template
  docs/add-new-channel/create-channel-tx.yaml
Labels: template

Add new channel document
  docs/CRYPTO_CONFIG_REQUIRED.md
  docs/add-new-channel/ADD_NEW_CHANNEL.md
Labels: documentation

Update add new channel document
  docs/ADD_NEW_CHANNEL.md
  docs/add-new-channel/ADD_NEW_CHANNEL.md
Labels: documentation

Update bootstrap script for multi org
  mamba/scripts/bootstrap-network.sh
Labels: none

init v2.2-mongodb
  mamba/blockchain/peer/commands.py
  mamba/blockchain/start_network/commands.py
  mamba/config/Untitled-1
  mamba/config/Untitled-2
  mamba/config/operator.env-template
  mamba/k8s/secret/commands.py
  mamba/scripts/bootstrap-network.sh
  mamba/settings.py
  mamba/template/external-chaincode/builders-config.yaml
  mamba/template/peer-sts/peer-service-stateful.yaml
  mamba/template/peer-sts/peer-stateful.yaml
Labels: feature, template

Update explorer config
  mamba/blockchain/explorer/commands.py
Labels: feature

edit config
  mamba/blockchain/peer/commands.py
  mamba/template/peer-sts/peer-stateful.yaml
Labels: feature, template

init v2.0 support mongodb
  mamba/template/peer-sts/peer-service-stateful.yaml
  mamba/template/peer-sts/peer-stateful.yaml
Labels: template

change binary config branch
  mamba/settings/settings.py
Labels: feature

Add package tutorial
  docs/PACKGING_PROJECT.md
Labels: documentation

Moving documents to docs folder
  docs/CRYPTO_CONFIG_REQUIRED.md
  docs/EXTERNAL_CHAINCODE.md
  docs/GENERATE_APPLICATION_ARTIFACT_V1.md
  docs/REMOTE_ORG.md
  mamba/.pylintrc
  mamba/cli/__init__.py
  mamba/cli/mamba.py
  mamba/mamba.py
  mamba/requirements.txt
  mamba/settings/settings.py
  mamba/setup.py
Labels: documentation, feature

use pkg_resources instead of git
  docs/PACKGING_PROJECT.md
  mamba/blockchain/__init.py__
  mamba/blockchain/copyscripts/commands.py
  mamba/blockchain/rca/commands.py
  mamba/config/__init__.py
  mamba/mamba.py
  mamba/settings/settings.py
  mamba/setup.py
  mamba/template/__init.py__
  mamba/utils/kube.py
  mamba/utils/util.py
Labels: documentation, feature

Update latest config from binary-config-v2
  mamba/blockchain/bootstrap_network/commands.py
  mamba/blockchain/rca/commands.py
  mamba/scripts/bootstrap-network.sh
  mamba/scripts/gen-network-config.sh
  mamba/settings/settings.py
  mamba/template/admin-v1/admin-deployment.yaml
  mamba/template/admin-v1/admin-service.yaml
  mamba/template/admin/admin-deployment.yaml
  mamba/utils/util.py
Labels: feature, template

Add extract-config command
  mamba/k8s/config/__init__.py
  mamba/k8s/config/commands.py
  mamba/mamba.py
  mamba/settings/settings.py
Labels: feature

update .env template
  mamba/config/operator.env-template
  mamba/scripts/bootstrap-network.sh
  mamba/template/admin/admin-deployment.yaml
Labels: template

change akc-admin image
  mamba/template/admin/admin-deployment.yaml
Labels: template

Using admin image in docker hub
  mamba/template/admin/admin-deployment.yaml
Labels: template

Optimize extract binary config
  mamba/config/operator.env-template
  mamba/k8s/config/commands.py
  mamba/settings/settings.py
Labels: feature

Optimize copyscripts command
  mamba/blockchain/copyscripts/commands.py
Labels: feature

Update requirement.txt
  mamba/requirements.txt
Labels: none

Add guideline run network use minikube
  docs/MINIKUBE.md
Labels: documentation

Support multiple orderers in fabric 2.2
  mamba/scripts/enroll-orderer.sh
  mamba/scripts/register-org.sh
  mamba/template/orderer-sts/orderer-stateful.yaml
Labels: template

add remote org in fabric 2.0
  docs/REMOTE_ORG.md
  mamba/blockchain/create_org/commands.py
  mamba/scripts/gen-configtx.sh
  mamba/template/add-org/2fetch-channel.yaml
  mamba/template/add-org/5signchannelconfig-optional.yaml
  mamba/template/add-org/6updatechannelconfig.yaml
Labels: documentation, feature, template

Update GENERATE_APPLICATION_ARTIFACT_V1.md
  docs/GENERATE_APPLICATION_ARTIFACT_V1.md
Labels: documentation

Use akc-admin version 2.0.2
  mamba/blockchain/admin/commands.py
  mamba/template/admin/admin-deployment.yaml
Labels: feature, template

Fix ENDORSEMENT POLICY fail when commit chaincode
  mamba/scripts/bootstrap-network.sh
Labels: none

Update load-config func easy to read
  mamba/k8s/config/commands.py
Labels: feature

Update READEME to latest version
  mamba/README.md
Labels: documentation

Update REMOTE_ORG.md
  docs/REMOTE_ORG.md
Labels: documentation

Update GENERATE_APPLICATION_ARTIFACT_V1.md
  docs/GENERATE_APPLICATION_ARTIFACT_V1.md
Labels: documentation

Update GENERATE_APPLICATION_ARTIFACT_V1.md
  docs/GENERATE_APPLICATION_ARTIFACT_V1.md
Labels: documentation

Using admin v2.1.0
  mamba/scripts/bootstrap-network.sh
  mamba/template/admin/admin-deployment.yaml
  mamba/template/gen-artifacts/fabric-deployment-gen-artifacts.yaml
Labels: template

Generate network-config v2 when starting up networ
  mamba/blockchain/start_network/commands.py
  mamba/scripts/gen-network-config.sh
  mamba/template/admin-v1/admin-deployment.yaml
Labels: feature, template

Check & create artifacts folder when start adminv1
  mamba/blockchain/admin_v1/commands.py
Labels: feature

Optimize create remote org function
  mamba/blockchain/admin/commands.py
  mamba/blockchain/create_org/commands.py
  mamba/blockchain/ica/commands.py
  mamba/config/operator.env-template
  mamba/settings/settings.py
  mamba/template/peer-sts/peer-stateful.yaml
Labels: feature, template
