Repository Akachain/akc-mamba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, template

.github/labeler.yml:

# Check guide for labelling here:
# https://github.com/actions/labeler

# Add 'guide' label to all md file changes
documentation:
  - ./**/*.md

# Add 'feature' label to all md file changes
feature:
  - ./**/*.py

# Add 'template' label to all md file changes
template:
  - ./**/*.yaml

set default ldap in env is false
  mamba/config/operator.env-template
Labels: none

update default value if no ldap pass
  mamba/scripts/env.sh
Labels: none

hotfix/update_apiversion_test_efs
  mamba/k8s/environment/efs/test-efs.yaml
Labels: template

Add example
  azure/efs-pod.yaml
  azure/efs-pvc.yaml
  azure/rca.yaml
Labels: template

Update some const and bump version
  mamba/blockchain/admin/commands.py
  mamba/blockchain/admin_v1/commands.py
  mamba/blockchain/copyscripts/commands.py
  mamba/blockchain/explorer/commands.py
  mamba/blockchain/ica/commands.py
  mamba/blockchain/orderer/commands.py
  mamba/blockchain/peer/commands.py
  mamba/blockchain/prometheus/commands.py
  mamba/blockchain/rca/commands.py
  mamba/blockchain/terminate_network/commands.py
  mamba/blockchain/update_folder/commands.py
  mamba/settings/settings.py
  mamba/setup.py
  mamba/utils/kube.py
Labels: feature

Update for azure
  azure/azure-nfs/nfs-pod.yaml
  azure/azure-nfs/nfs-pv.yaml
  azure/azure-nfs/nfs-pvc.yaml
  azure/rca.yaml
  docs/EXTERNAL_CHAINCODE.md
  mamba/blockchain/ica/commands.py
  mamba/blockchain/orderer/commands.py
  mamba/blockchain/peer/commands.py
  mamba/blockchain/rca/commands.py
Labels: documentation, feature, template
