Repository Akachain/akc-mamba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, template

.github/labeler.yml:

# Check guide for labelling here:
# https://github.com/actions/labeler

# Add 'guide' label to all md file changes
documentation:
  - ./**/*.md

# Add 'feature' label to all md file changes
feature:
  - ./**/*.py

# Add 'template' label to all md file changes
template:
  - ./**/*.yaml

fix readme following new version
  mamba/README.md
Labels: documentation

Add external chaincode service
  mamba/blockchain/external_chaincode/__init__.py
  mamba/blockchain/external_chaincode/commands.py
  mamba/mamba.py
  mamba/template/external-chaincode/chaincode-service.yaml
  mamba/template/external-chaincode/chaincode-stateful.yaml
Labels: feature, template

Add builder config template
  mamba/template/external-chaincode/builders-config.yaml
Labels: template

Optimize log
  mamba/blockchain/start_network/commands.py
  mamba/utils/kube.py
  mamba/utils/util.py
Labels: feature

Add DEPLOYMENT_ENV in env
  mamba/config/operator.env-template
  mamba/settings.py
Labels: feature

Remove unuse file
  mamba/blockchain/template/enroll-orderer/fabric-deployment-enroll-orderer.yaml
  mamba/blockchain/template/orderer-sts/orderer-service-nlb.yaml
  mamba/blockchain/template/orderer-sts/orderer-service.yaml
  mamba/blockchain/template/orderer-sts/orderer-stateful.yaml
Labels: template

Optimize register peer service
  mamba/blockchain/reg_peers/commands.py
Labels: feature

Update admin-v2
  mamba/blockchain/admin/commands.py
  mamba/blockchain/terminate_network/commands.py
  mamba/template/admin/admin-deployment.yaml
  mamba/template/admin/admin-service.yaml
Labels: feature, template

support mongodb for v1.4.2
  mamba/blockchain/template/peer-sts/peer-service-stateful.yaml
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
Labels: template

support mongodb for v1.4.2
  mamba/blockchain/peer/commands.py
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
  mamba/settings/settings.py
Labels: feature, template

update support mongodb for fabric v1.4.2
  mamba/blockchain/template/peer-sts/peer-service-stateful.yaml
  mamba/config/operator.env-template
Labels: template

Remove unnecessary mountPath in orderer sts
  mamba/blockchain/template/orderer-sts/orderer-stateful.yaml
Labels: template

Insert FABRIC_TAG to dict_env
  eks/eks-amzlinux.yaml
  mamba/blockchain/peer/commands.py
Labels: feature, template

Add generate connection profile function
  mamba/blockchain/copyscripts/commands.py
  mamba/blockchain/generate_ccp/__init__.py
  mamba/blockchain/generate_ccp/commands.py
  mamba/mamba.py
  mamba/requirements.txt
  mamba/template/connection-profile/generate-ccp-job.yaml
Labels: feature, template

Add generate cpp svc and update bootstrap script
  mamba/blockchain/bootstrap_network/commands.py
  mamba/blockchain/external_chaincode/commands.py
  mamba/blockchain/start_network/commands.py
  mamba/blockchain/terminate_network/commands.py
  mamba/scripts/bootstrap-network.sh
  mamba/scripts/generate-ccp.sh
  mamba/template/admin/admin-deployment.yaml
  mamba/template/bootstrap-network/fabric-deployment-bootstrap-network.yaml
  mamba/template/update-anchor-peer/fabric-deployment-anchor-peer.yaml
  mamba/utils/kube.py
  mamba/utils/util.py
Labels: feature, template

Add fabcar chaincode
  mamba/blockchain/artifacts/src/chaincodes/fabcar/fabcar.go
  mamba/blockchain/artifacts/src/chaincodes/fabcar/go.mod
  mamba/blockchain/artifacts/src/chaincodes/fabcar/go.sum
Labels: none

Fix some bugs
  mamba/blockchain/admin/commands.py
  mamba/blockchain/copyscripts/commands.py
  mamba/blockchain/start_network/commands.py
  mamba/blockchain/terminate_network/commands.py
  mamba/scripts/bootstrap-network.sh
  mamba/template/bootstrap-network/fabric-deployment-bootstrap-network.yaml
Labels: feature, template

Specify alpine image version
  mamba/template/add-org/0create-configtx.yaml
  mamba/template/connection-profile/generate-ccp-job.yaml
  mamba/template/gen-artifacts/fabric-deployment-gen-artifacts.yaml
Labels: template

Update admin template
  mamba/template/admin/admin-deployment.yaml
Labels: template

Remove tika
  mamba/requirements.txt
  mamba/utils/util.py
Labels: feature

Update bootstrap and admin
  mamba/blockchain/admin/commands.py
  mamba/scripts/bootstrap-network.sh
Labels: feature

Update REMOTE_ORG.md
  REMOTE_ORG.md
Labels: documentation

Optimize and fix some bugs
  mamba/blockchain/create_org/commands.py
  mamba/blockchain/explorer/commands.py
  mamba/blockchain/template/explorer/explorer-deployment.yaml
  mamba/blockchain/template/ica-ex/fabric-deployment-ica.yaml
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
  mamba/blockchain/template/prometheus/prometheus-stateful.yaml
  mamba/blockchain/update_channel_config/commands.py
  mamba/config/operator.env-template
Labels: feature, template

Remove debug code
  mamba/blockchain/copyscripts/commands.py
Labels: feature

Optimize bootstrap command
  mamba/scripts/bootstrap-network.sh
  mamba/template/bootstrap-network/fabric-deployment-bootstrap-network.yaml
Labels: template

Update binary config path
  mamba/blockchain/copyscripts/commands.py
  mamba/utils/util.py
Labels: feature

Fix settings path
  mamba/blockchain/external_chaincode/commands.py
  mamba/blockchain/generate_ccp/commands.py
  mamba/blockchain/update_anchor_peer/commands.py
Labels: feature

Update env template
  mamba/config/operator.env-template
Labels: none

Using binary config v2 branch
  mamba/settings/settings.py
Labels: feature

Update admin image
  mamba/template/admin/admin-deployment.yaml
Labels: template

Update README
  mamba/README.md
Labels: documentation

Add guideline external chaincode
  EXTERNAL_CHAINCODE.md
Labels: documentation

Update Guideline
  EXTERNAL_CHAINCODE.md
Labels: documentation

Update Guideline
  EXTERNAL_CHAINCODE.md
Labels: documentation

Update REMOTE_ORG.md
  REMOTE_ORG.md
Labels: documentation

update config from master
  mamba/blockchain/template/explorer/explorer-deployment.yaml
  mamba/blockchain/template/ica-ex/fabric-deployment-ica.yaml
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
  mamba/blockchain/template/prometheus/prometheus-stateful.yaml
  merge-config-binary.sh
Labels: template

Update script path in environment command
  mamba/k8s/environment/setup.sh
Labels: none

Update script path in environment command
  mamba/k8s/environment/setup.sh
Labels: none

Revert "Feature/v.1.4.2 support mongodb"
  mamba/blockchain/peer/commands.py
  mamba/blockchain/template/peer-sts/peer-service-stateful.yaml
  mamba/blockchain/template/peer-sts/peer-stateful.yaml
  mamba/config/operator.env-template
  mamba/settings/settings.py
Labels: feature, template

Generate artifact for app using fabirc v1.x
  GENERATE_APPLICATION_ARTIFACT_V1.md
  mamba/blockchain/admin_v1/__init__.py
  mamba/blockchain/admin_v1/commands.py
  mamba/blockchain/update_folder/commands.py
  mamba/mamba.py
Labels: documentation, feature
