Repository Akachain/akc-mamba, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, feature, template

.github/labeler.yml:

# Check guide for labelling here:
# https://github.com/actions/labeler

# Add 'guide' label to all md file changes
documentation:
  - ./**/*.md

# Add 'feature' label to all md file changes
feature:
  - ./**/*.py

# Add 'template' label to all md file changes
template:
  - ./**/*.yaml

Use latest akc-admin
  docs/EXTERNAL_CHAINCODE.md
  docs/REMOTE_ORG.md
  mamba/template/admin/admin-deployment.yaml
Labels: documentation, template

Fix static ordererMSP in orderer sts yaml
  mamba/template/orderer-sts/orderer-stateful.yaml
Labels: template

Fix error when config remote org
  mamba/blockchain/admin/commands.py
  mamba/blockchain/ica/commands.py
Labels: feature

Update generate artifacts func
  mamba/blockchain/create_org/commands.py
  mamba/scripts/gen-network-config.sh
Labels: feature

Fix cli command
  mamba/cli/__init__.py
  mamba/cli/mamba.py
Labels: feature

Use latest api of akc-admin
  mamba/scripts/bootstrap-network.sh
Labels: none

Optimize detect efs server
  mamba/k8s/config/commands.py
Labels: feature

Bump version
  mamba/setup.py
Labels: feature

Update helm charts repo
  mamba/config/operator.env-template
  mamba/k8s/config/commands.py
  mamba/k8s/environment/efs/install_efs.sh
  mamba/k8s/environment/efs/upgrade_efs.sh
  mamba/k8s/environment/metrics/install_metrics.sh
  mamba/k8s/environment/metrics/upgrade_metrics.sh
  mamba/k8s/environment/setup.sh
  mamba/k8s/vpn/init.sh
  mamba/setup.py
  mamba/template/efs/install_efs.sh
  mamba/template/efs/upgrade_efs.sh
  mamba/template/metrics/install_metrics.sh
  mamba/template/metrics/upgrade_metrics.sh
Labels: feature

Fix bug when bootstrap network
  mamba/scripts/bootstrap-network.sh
  mamba/setup.py
Labels: feature

Update README
  README.md
Labels: documentation

Update document
  docs/EXTERNAL_CHAINCODE.md
Labels: documentation

Update apiVersion of test-efs
  mamba/template/efs/test-efs.yaml
Labels: template

Integrate Ldap
  mamba/blockchain/rca/commands.py
  mamba/config/operator.env-template
  mamba/scripts/bootstrap-network.sh
  mamba/scripts/env.sh
  mamba/scripts/register-org.sh
  mamba/scripts/start-intermediate-ca.sh
  mamba/settings/settings.py
  mamba/template/ica/fabric-deployment-ica.yaml
  mamba/template/rca/fabric-deployment-rca.yaml
  mamba/template/rca/rca-config-map.yaml
Labels: feature, template

init read password ldap from env
  mamba/config/operator.env-template
  mamba/scripts/env.sh
Labels: none

update configmap in fabric rca
  mamba/blockchain/rca/commands.py
  mamba/template/rca/fabric-deployment-rca.yaml
Labels: feature, template

update script and ica-config-map
  mamba/scripts/start-intermediate-ca.sh
  mamba/scripts/start-root-ca.sh
  mamba/template/ica/fabric-deployment-ica.yaml
  mamba/template/ica/ica-config-map.yaml
  mamba/template/rca/fabric-deployment-rca.yaml
Labels: template

apply configmap ica
  mamba/blockchain/ica/commands.py
Labels: feature

update config map ica rca
  mamba/template/ica/ica-config-map.yaml
  mamba/template/rca/rca-config-map.yaml
Labels: template

update ica
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: template

update configmap
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: template

update pvc ica
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: template

update
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: template

update command
  mamba/blockchain/ica/commands.py
Labels: feature

update ica ldap yaml
  mamba/blockchain/ica/commands.py
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: feature, template

update ica yaml
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: template

update delete ica rca configmap
  mamba/blockchain/ica/commands.py
  mamba/blockchain/rca/commands.py
  mamba/utils/kube.py
Labels: feature

update script
  mamba/blockchain/ica/commands.py
  mamba/config/operator.env-template
  mamba/scripts/register-org.sh
  mamba/scripts/start-intermediate-ca.sh
  mamba/scripts/start-root-ca.sh
Labels: feature

fix indentation in script ca
  mamba/scripts/start-intermediate-ca.sh
  mamba/scripts/start-root-ca.sh
Labels: none

fix indexntation in script ca
  mamba/scripts/start-intermediate-ca.sh
  mamba/scripts/start-root-ca.sh
Labels: none

update template ica cm
  mamba/blockchain/ica/commands.py
Labels: feature

update ldap case in register org
  mamba/scripts/register-org.sh
Labels: none

register orderer and peer if not ldap
  mamba/blockchain/start_network/commands.py
Labels: feature

update parent url
  mamba/blockchain/delete_network/commands.py
  mamba/blockchain/ica/commands.py
  mamba/template/ica/fabric-deployment-ica.yaml
Labels: feature, template

update parent url
  mamba/blockchain/ica/commands.py
Labels: feature

update rca configmap identities
  mamba/template/rca/rca-config-map.yaml
Labels: template

update ica configmap identities
  mamba/template/ica/ica-config-map.yaml
Labels: template

update register org scripts
  mamba/scripts/register-org.sh
Labels: none

fix wrong env
  mamba/blockchain/ica/commands.py
Labels: feature

fix hardcode ica pass, admin-client pass
  mamba/blockchain/ica/commands.py
  mamba/config/operator.env-template
  mamba/scripts/env.sh
  mamba/scripts/register-org.sh
  mamba/settings/settings.py
Labels: feature
